In [2]:
import numpy as np      # linear algebra
import pandas as pd     # data processing
from scipy.stats import ttest_ind

In [3]:
my_data = pd.read_csv("hypothesis_testing.csv")
my_data.head()

   Current  New
0      264  277
1      261  269
2      267  263
3      272  266
4      258  262

In [6]:
my_data.describe()

          Current         New
count   40.000000   40.000000
mean   270.275000  267.500000
std      8.752985    9.896904
min    255.000000  250.000000
25%    263.000000  262.000000
50%    270.000000  265.000000
75%    275.250000  274.500000
max    289.000000  289.000000

In [11]:
current = my_data['Current']
new = my_data['New']

In [8]:
current

0     264
1     261
2     267
3     272
4     258
5     283
6     258
7     266
8     259
9     270
10    263
11    264
12    284
13    263
14    260
15    283
16    255
17    272
18    266
19    268
20    270
21    287
22    289
23    280
24    272
25    275
26    265
27    260
28    278
29    275
30    281
31    274
32    273
33    263
34    275
35    267
36    279
37    274
38    276
39    262
Name: Current, dtype: int64

In [12]:
new

0     277
1     269
2     263
3     266
4     262
5     251
6     262
7     289
8     286
9     264
10    274
11    266
12    262
13    271
14    260
15    281
16    250
17    263
18    278
19    264
20    272
21    259
22    264
23    280
24    274
25    281
26    276
27    269
28    268
29    262
30    283
31    250
32    253
33    260
34    270
35    263
36    261
37    255
38    263
39    279
Name: New, dtype: int64

## Two Sample T-Test

In [6]:
ttest_ind(current, new)

# statistic is t-score
# 0.18 > 0.05 so accept the null hypothesis

Ttest_indResult(statistic=1.3283615935245678, pvalue=0.18793228491854663)

## Two Sample Z-Test

In [14]:
from statsmodels.stats import weightstats as stests

ztest ,pval1 = stests.ztest(current, x2=new, alternative='two-sided')
print(float(ztest))
print(float(pval1))

# see when sample size is more than 30.....t-test & z-test yields same result

1.3283615935245678
0.18405868087594723